*.la
*.lo
*.o
*.pyc
.*.swp
.deps/
.dirstamp
.libs/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/c_example/cex
/c_example/cex.exe
/config/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/configure.scan
/liblightgrep.spec
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/mingw-liblightgrep.spec
/re_gen/parsecheck
/re_gen/randpat
/re_gen/shitgrep
/src/lib/lightgrep.pc
/src/lib/re_grammar.cpp
/src/lib/re_grammar.output
/src/enc/enc
/src/enc/enc.exe
/src/val/val
/src/val/val.exe
/src/what/what
/src/what/what.exe
/stamp-h1
/test-suite.log
/test/test
/test/test.log
/test/test.exe
/test/test.trs
/tmp/
/vendors/
_libs/
