#*
*.FileListAbsolute.txt
*.dblite
*.exe
*.exe.manifest
*.o
*.pdb
*~
.*.swp
.sconf_temp
config.log
DesignTimeResolveAssemblyReferencesInput.cache
gmon.out
bin/*
deps/*
lib/*
tmp/*
re_gen/lgtestlib.pyc
