*.la
*.lo
*.o
*.pyc
*.trs
.*.swp
.deps/
.dirstamp
.libs/
.DS_Store
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/c_example/cex
/c_example/cex.exe
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config/
/configure
/configure.scan
/design/*.aux
/design/*.log
/include/lightgrep/encodings.h
/liblightgrep.spec
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/mingw-liblightgrep.spec
/pylightgrep/test.sh.log
/pylightgrep/test.sh.trs
/re_gen/parsecheck
/re_gen/randpat
/re_gen/shitgrep
/src/cmd/lightgrep
/src/cmd/lightgrep.exe
/src/cmd/version.lo
/src/enc/enc
/src/enc/enc.exe
/src/lib/lightgrep.pc
/src/lib/re_grammar.cpp
/src/lib/re_grammar.output
/src/llama/llama.log
/src/llama/llama
/src/val/val
/src/val/val.exe
/src/what/what
/src/what/what.exe
/stamp-h1
/test-suite.log
/test-suite-memcheck.log
/test/test
/test/test.exe
/test/test.log
/test/test.trs
/tmp/
/vendors/
_libs/
